* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div {
    --main-bg-color: hsl(300, 43%, 22%);
}
body {
    background-color: rgb(221, 219, 219);
    font-family: 'League Spartan', sans-serif;
}

.contenaire-principal {
    background-color: white;
    background-image: url(images/bg-pattern-bottom-mobile.svg);
}

.first-section {
    padding: 50px;
}

button {
    width: 270px;
    height: 50px;
    margin-bottom: 10px;
    background-color: hsl(300, 24%, 96%);
    border: none;
    border-radius: 5px;
    color: var(--main-bg-color);
}

h1 {
    color: var(--main-bg-color);
    font-family: 'League Spartan', sans-serif;
    font-size: 2.5em;
    padding-bottom: 30px;
    text-align: center;
}

.frist-paragraphe {
    color: var(--main-bg-color);
    font-size: 1em;
    text-align: center;
    padding-bottom: 10px;
}

.second-section {
    color: white;
    padding: 0 50px 50px;
}

.second-section div {
    background-color: var(--main-bg-color);
    border-radius: 5px;
    margin-bottom: 20px;
}

.image {
    border-radius: 50%;
    height: 40px;
}
.entete-div {
    display: flex;
    gap: 30px;
    padding: 30px;
   padding-bottom: 0;
}
.second-section__paragraphe {
    padding: 0 30px 30px 30px;
    font-family: 'League Spartan', sans-serif;
}